# Copy to terraform.tfvars and choose a globally unique bucket name.
bucket_name = "bucket-backend-terraform-313932316713-us-east-1"
aws_region  = "us-east-1"
instance_type = "t3.micro"
enable_nat_gateway = true
single_nat_gateway = false
ami_id = "ami-0002d0abb85b05cfa"
iam_instance_profile = "existing-test-ssm-profile"